# [url "git@github.com:"]
#   insteadOf = https://github.com/

# [include]
#   path = ~/.config/git/internal-sites

[user]
	email = valentin.stutz@protonmail.com
	name = Chtoutz

# [code]
# 	editor = atom
